In [55]:
import pandas as pd
import numpy as np
import seaborn as sns
%cd /aiffel

/aiffel

In [56]:
cc_df =  pd.read_csv('data/fraud.csv')

In [57]:
pd.set_option('display.max_columns', 50)

In [58]:
cc_df.head()

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
1,2019-01-01 00:12:34,4956828990005111019,"fraud_Schultz, Simonis and Little",grocery_pos,44.71,Kenneth,Robinson,M,269 Sanchez Rapids,Elizabeth,NJ,7208,40.6747,-74.2239,124967,Operational researcher,1980-12-21,09eff9c806365e2a6be12c1bbab3d70e,1325376754,40.079588,-74.848087,0
2,2019-01-01 00:17:16,180048185037117,fraud_Kling-Grant,grocery_net,46.28,Mary,Wall,F,2481 Mills Lock,Plainfield,NJ,7060,40.6152,-74.4150,71485,Leisure centre manager,1974-07-19,19e23c6a300c774354417befe4f31f8c,1325377036,40.021888,-74.228188,0
3,2019-01-01 00:20:15,374930071163758,fraud_Deckow-O'Conner,grocery_pos,64.09,Daniel,Escobar,M,61390 Hayes Port,Romulus,MI,48174,42.2203,-83.3583,31515,Police officer,1971-11-05,6f363661ba6b55889e488dd178f2a0af,1325377215,42.360426,-83.552316,0
4,2019-01-01 00:23:41,2712209726293386,fraud_Balistreri-Nader,misc_pos,25.58,Jenna,Brooks,F,50872 Alex Plain Suite 088,Baton Rouge,LA,70808,30.4066,-91.1468,378909,"Designer, furniture",1977-02-22,1654da2abfb9e79a5f99167fc9779558,1325377421,29.737426,-90.853194,0

In [59]:
cc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 491134 entries, 0 to 491133
Data columns (total 22 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   trans_date_trans_time  491134 non-null  object
 1   cc_num                 491134 non-null  int64
 2   merchant               491134 non-null  object
 3   category               491134 non-null  object
 4   amt                    491134 non-null  float64
 5   first                  491134 non-null  object
 6   last                   491134 non-null  object
 7   gender                 491134 non-null  object
 8   street                 491134 non-null  object
 9   city                   491134 non-null  object
 10  state                  491134 non-null  object
 11  zip                    491134 non-null  int64
 12  lat                    491134 non-null  float64
 13  long                   491134 non-null  float64
 14  city_pop               491134 non-null  int64
 15  job                    491134 non-null  object
 16  dob                    491134 non-null  object
 17  trans_num              491134 non-null  object
 18  unix_time              491134 non-null  int64
 19  merch_lat              491134 non-null  float64
 20  merch_long             491134 non-null  float64
 21  is_fraud               491134 non-null  int64
dtypes: float64(5), int64(5), object(12)
memory usage: 82.4+ MB

In [60]:
cc_df.describe()

,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,4.911340e+05,491134.000000,491134.000000,491134.000000,491134.000000,4.911340e+05,4.911340e+05,491134.000000,491134.000000,491134.000000
mean,3.706013e+17,69.050120,50770.532384,37.931230,-90.495619,1.213922e+05,1.358730e+09,37.930272,-90.495411,0.002533
std,1.260229e+18,160.322867,26854.947965,5.341193,12.990732,3.725751e+05,1.819402e+07,5.372986,13.004100,0.050264
min,5.038744e+11,1.000000,1843.000000,24.655700,-122.345600,4.600000e+01,1.325376e+09,23.655789,-123.345106,0.000000
25%,2.131124e+14,8.960000,28405.000000,33.746700,-97.235100,1.228000e+03,1.343087e+09,33.781388,-96.984814,0.000000
50%,3.531130e+15,42.170000,49628.000000,38.507200,-87.591700,5.760000e+03,1.357257e+09,38.545124,-87.573441,0.000000
75%,4.653879e+15,80.330000,75048.000000,41.520500,-80.731000,5.083500e+04,1.374626e+09,41.624294,-80.685567,0.000000
max,4.956829e+18,25086.940000,99323.000000,48.887800,-69.965600,2.906700e+06,1.388534e+09,49.887523,-68.965624,1.000000

In [61]:
cc_df.head(3)

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
1,2019-01-01 00:12:34,4956828990005111019,"fraud_Schultz, Simonis and Little",grocery_pos,44.71,Kenneth,Robinson,M,269 Sanchez Rapids,Elizabeth,NJ,7208,40.6747,-74.2239,124967,Operational researcher,1980-12-21,09eff9c806365e2a6be12c1bbab3d70e,1325376754,40.079588,-74.848087,0
2,2019-01-01 00:17:16,180048185037117,fraud_Kling-Grant,grocery_net,46.28,Mary,Wall,F,2481 Mills Lock,Plainfield,NJ,7060,40.6152,-74.4150,71485,Leisure centre manager,1974-07-19,19e23c6a300c774354417befe4f31f8c,1325377036,40.021888,-74.228188,0

In [62]:
cc_df['merchant'].nunique()

693

In [63]:
cc_df['job'].nunique()

110

In [64]:
cc_df['cc_num'].nunique()

124

In [65]:
cc_df.drop(['merchant','first','last','street','city','state','zip','job','trans_num','unix_time'], axis = 1, inplace= True)

In [66]:
cc_df.sort_values('cc_num')

,trans_date_trans_time,cc_num,category,amt,gender,lat,long,city_pop,dob,merch_lat,merch_long,is_fraud
378075,2020-08-05 17:03:19,503874407318,shopping_pos,7.77,M,29.5894,-98.5201,1595797,1975-12-28,30.014539,-98.426767,0
230588,2019-12-20 22:21:36,503874407318,health_fitness,72.06,M,29.5894,-98.5201,1595797,1975-12-28,29.260487,-97.961746,0
421413,2020-10-10 12:39:32,503874407318,misc_pos,4.78,M,29.5894,-98.5201,1595797,1975-12-28,29.116928,-99.258936,0
468378,2020-12-13 15:55:44,503874407318,kids_pets,84.56,M,29.5894,-98.5201,1595797,1975-12-28,29.994537,-98.441297,0
345085,2020-06-22 23:52:06,503874407318,entertainment,24.33,M,29.5894,-98.5201,1595797,1975-12-28,29.277168,-98.239289,0
...,...,...,...,...,...,...,...,...,...,...,...,...
53631,2019-04-14 16:57:31,4956828990005111019,entertainment,27.41,M,40.6747,-74.2239,124967,1980-12-21,39.888460,-74.151440,0
485223,2020-12-27 14:14:40,4956828990005111019,home,28.52,M,40.6747,-74.2239,124967,1980-12-21,41.068207,-75.015316,0
264968,2020-02-15 13:32:48,4956828990005111019,shopping_pos,2.95,M,40.6747,-74.2239,124967,1980-12-21,41.435438,-73.839008,0
63475,2019-04-30 17:45:09,4956828990005111019,shopping_pos,7.28,M,40.6747,-74.2239,124967,1980-12-21,41.149072,-75.143152,0
450904,2020-11-28 12:12:27,4956828990005111019,food_dining,16.22,M,40.6747,-74.2239,124967,1980-12-21,39.933227,-73.659492,0

In [67]:
temp = pd.DataFrame({'a': [10,20,30,20,10,200], 'b': [100,300,200,150,250,200], 'c': [10, 500, 20, 250, 25, 200]})
temp

     a    b    c
0   10  100   10
1   20  300  500
2   30  200   20
3   20  150  250
4   10  250   25
5  200  200  200

In [68]:
temp.mean()

a     48.333333
b    200.000000
c    167.500000
dtype: float64

In [69]:
temp.std()

a     74.677083
b     70.710678
c    192.503247
dtype: float64

In [70]:
(temp['a'] - 48.33) / 74.67

0   -0.513325
1   -0.379403
2   -0.245480
3   -0.379403
4   -0.513325
5    2.031204
Name: a, dtype: float64

In [71]:
(temp['b']-200)/70.71

0   -1.414227
1    1.414227
2    0.000000
3   -0.707114
4    0.707114
5    0.000000
Name: b, dtype: float64

In [72]:
(temp['c']-167)/192.50

0   -0.815584
1    1.729870
2   -0.763636
3    0.431169
4   -0.737662
5    0.171429
Name: c, dtype: float64

In [73]:
cc_df['cc_num'].value_counts()

6538441737335434    4392
30270432095985      4392
4364010865167176    4386
4642255475285942    4386
6538891242532018    4386
                    ...
36913587729122      3641
4681601008538160    3638
30551643947183      3638
4005676619255478    3638
3511378610369890    3628
Name: cc_num, Length: 124, dtype: int64

In [74]:
amt_info = cc_df.groupby('cc_num')['amt'].agg(['mean','std']).reset_index()

In [75]:
amt_info.to_pickle('./amt_info.pkl')

In [76]:
print(cc_df.dtypes)
print(amt_info.dtypes)

trans_date_trans_time     object
cc_num                     int64
category                  object
amt                      float64
gender                    object
lat                      float64
long                     float64
city_pop                   int64
dob                       object
merch_lat                float64
merch_long               float64
is_fraud                   int64
dtype: object
cc_num      int64
mean      float64
std       float64
dtype: object

In [77]:
print(amt_info['cc_num'].nunique())  # 고유 cc_num 수
print(len(amt_info))   
amt_info = amt_info.drop_duplicates(subset='cc_num')

124
124

In [78]:
cc_df=pd.merge(cc_df,amt_info, on='cc_num',how='left')

In [79]:
mean_=cc_df['amt'].mean()
std_=cc_df['amt'].std()
cc_df['amt_z']=(cc_df['amt']-mean_)/std_

In [80]:
cc_df[cc_df['is_fraud'] == 1]

,trans_date_trans_time,cc_num,category,amt,gender,lat,long,city_pop,dob,merch_lat,merch_long,is_fraud,mean,std,amt_z
4794,2019-01-12 00:59:01,581686439828,gas_transport,11.73,M,41.5205,-80.0573,5507,1973-07-28,41.947427,-79.796264,1,58.578675,149.804992,-0.357529
4816,2019-01-12 03:48:07,581686439828,grocery_pos,328.68,M,41.5205,-80.0573,5507,1973-07-28,42.148618,-79.398595,1,58.578675,149.804992,1.619419
4979,2019-01-12 15:46:10,581686439828,food_dining,120.58,M,41.5205,-80.0573,5507,1973-07-28,42.470024,-80.126576,1,58.578675,149.804992,0.321413
5073,2019-01-12 19:53:59,581686439828,shopping_net,1081.35,M,41.5205,-80.0573,5507,1973-07-28,42.455406,-79.521640,1,58.578675,149.804992,6.314133
5124,2019-01-12 22:44:05,581686439828,shopping_net,776.70,M,41.5205,-80.0573,5507,1973-07-28,40.680209,-79.099101,1,58.578675,149.804992,4.413905
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477832,2020-12-21 02:21:41,4716561796955522,grocery_pos,358.24,F,48.2777,-112.8456,743,1972-05-04,47.526202,-113.643313,1,52.537867,106.113023,1.803797
477847,2020-12-21 02:36:03,4716561796955522,shopping_net,859.12,F,48.2777,-112.8456,743,1972-05-04,48.272348,-112.328075,1,52.537867,106.113023,4.927992
479296,2020-12-21 22:38:38,4716561796955522,home,209.84,F,48.2777,-112.8456,743,1972-05-04,49.173669,-112.698767,1,52.537867,106.113023,0.878165
479305,2020-12-21 22:42:11,4716561796955522,food_dining,123.58,F,48.2777,-112.8456,743,1972-05-04,48.913048,-113.214921,1,52.537867,106.113023,0.340125
479341,2020-12-21 22:59:22,4716561796955522,home,219.11,F,48.2777,-112.8456,743,1972-05-04,47.911219,-113.691603,1,52.537867,106.113023,0.935986

In [81]:
cc_df.drop(['mean','std'], axis = 1, inplace = True)

In [82]:
# cc_num, category 컬럼의 값마다 결제금액(amt)의 평균, 표준편차를 계산하여 cat_info에 저장합니다.
cat_info=cc_df.groupby(['cc_num','category'])['amt'].agg(['mean','std']).reset_index()

In [83]:
cat_info.to_pickle('./cat_info.pkl')

In [ ]:
# Q. cc_num 컬럼을 기준으로, cc_df와 cat_info 데이터를 합쳐서 cc_df에 저장합니다.
# (left merge를 수행합니다.)

cc_df=pd.merge(cc_df,cat_info, on='cc_num',how='left')

In [ ]:
mean_2=cc_df['amt'].mean()
std_2=cc_df['amt'].std()
cc_df['cat_amt_z']=(cc_df['amt']-mean_2)/std_2

In [ ]:
# z-score 계산이 완료되었으니 mean, std 컬럼을 제거합니다.
cc_df.drop(['mean','std'],axis=1,inplace=True)

In [ ]:
cc_df.head()

In [ ]:
cc_df['trans_date_trans_time']=pd.to_datetime(cc_df['trans_date_trans_time'])
cc_df['hour']=cc_df['trans_date_trans_time'].dt.hour

In [ ]:
cc_df.head()

In [ ]:
# 결제시간을 morning, afternoon, night, evening으로 분류하기 위해 함수를 정의합니다.

def hour_func(x):
    if (x>=6)&(x<12):
        return 'morning'
    elif (x>= 12) &(x<18):
        return 'afternoon'
    elif (x>=6) & (x<23):
        return 'night'
    else:
        return 'evening'

In [ ]:
cc_df['hour_cat']=cc_df['hour'].apply(hour_func)

In [ ]:
cc_df.head()

In [ ]:
print(cc_df['hour_cat'].value_counts())

In [ ]:
# cc_num 컬럼의 값마다 amt 컬럼의 데이터 수를 계산하여 all_cnt 변수로 저장합니다.
all_cnt=cc_df.groupby('cc_num')['amt'].count().reset_index()

In [ ]:
# cc_num, hour_cat 컬럼의 값마다 amt 컬럼의 데이터 수를 계산하여 hour_cnt 변수로 저장합니다.
hour_cnt=cc_df.groupby(['cc_num','hour_cat'])['amt'].count().reset_index()

In [ ]:
all_cnt.head()

In [ ]:
hour_cnt.head()

In [ ]:
cc_df = pd.merge(cc_df, hour_cnt[['cc_num', 'hour_cat', 'amt']], on=['cc_num', 'hour_cat'], how='left')
print(cc_df.columns)

In [ ]:
hour_cnt.head()

In [ ]:
hour_cnt=hour_cnt.rename(columns={'amt_x':'hour_cnt','amt_y':'total_cnt'})

In [ ]:
hour_cnt.head()

In [ ]:
# Q. 전체 거래 건수(total_cnt)에 대한 시간대별 거래 건수(hour_cnt)의 비율을 계산하여 
# hour_perc 컬럼에 저장합니다.

cc_df['hour_perc']=cc_df['hour_cnt']/cc_df['total_cnt']*100

In [1]:
hour_cnt.head(10)

NameError: name 'hour_cnt' is not defined

In [2]:
hour_cnt.tail(10)

NameError: name 'hour_cnt' is not defined

In [3]:
cc_df.head()

NameError: name 'cc_df' is not defined

In [4]:
hour_cnt = hour_cnt[['cc_num','hour_cat','hour_perc']]

NameError: name 'hour_cnt' is not defined

In [5]:
hour_cnt.to_pickle('./hour_cnt.pkl')

NameError: name 'hour_cnt' is not defined

In [6]:
cc_df = pd.merge(cc_df, hour_cnt, on=['cc_num', 'hour_cat'], how='left')

NameError: name 'pd' is not defined

In [7]:
cc_df.head()

NameError: name 'cc_df' is not defined

In [8]:
cc_df.drop(['trans_date_trans_time', 'hour', 'hour_cat'], axis =1 , inplace = True)

NameError: name 'cc_df' is not defined

In [9]:
!pip install geopy

Collecting geopy
  Downloading geopy-2.4.1-py3-none-any.whl (125 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 125.4/125.4 KB 5.6 MB/s eta 0:00:00
Collecting geographiclib<3,>=1.52
  Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.3/40.3 KB 3.0 MB/s eta 0:00:00
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.4.1
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [10]:
from geopy.distance import distance

In [11]:
distance((48.8878, -118.2105), (49.159047, -118.186462)).km

30.216618410409005

In [12]:
cc_df['distance'] = cc_df.apply(lambda x: distance((x['lat'], x['long']), (x['merch_lat'], x['merch_long'])).km, axis = 1)

NameError: name 'cc_df' is not defined

In [13]:
from datetime import datetime

In [14]:
start_time =  datetime.now()
cc_df.head(10000).apply(lambda x: distance((x['lat'], x['long']), (x['merch_lat'], x['merch_long'])).km, axis = 1)
datetime.now() - start_time

NameError: name 'cc_df' is not defined

In [15]:
cc_df.head()

NameError: name 'cc_df' is not defined

In [16]:
# Q. cc_num 컬럼의 값마다 distance의 평균, 표준편차를 계산하여 dist_info 변수에 저장합니다.

dist_info=cc_df.groupby('cc_num')['distance'].agg(['mean','std']).reset_index()

NameError: name 'cc_df' is not defined

In [17]:
dist_info.to_pickle('./dist_info.pkl')

NameError: name 'dist_info' is not defined

In [18]:
cc_df=pd.merge(cc_df,dist_info,on='cc_num',how='left')

NameError: name 'pd' is not defined

In [19]:
cc_df.head()

NameError: name 'cc_df' is not defined

In [20]:
mean_3=cc_df['distance'].mean()
std_3=cc_df['distance'].std()

cc_df['dist_z']=(cc_df['distance']-mean_3)/std_3

NameError: name 'cc_df' is not defined

In [21]:
cc_df

NameError: name 'cc_df' is not defined

In [22]:
cc_df.drop(['lat','long','merch_lat','merch_long','mean','std'], axis = 1, inplace = True)

NameError: name 'cc_df' is not defined

In [23]:
cc_df['dob']=pd.to_datetime(cc_df['dob']).dt.year

NameError: name 'pd' is not defined

In [24]:
cc_df['category'].nunique()

NameError: name 'cc_df' is not defined

In [25]:
cc_df = pd.get_dummies(cc_df, drop_first=True)

NameError: name 'pd' is not defined

In [26]:
cc_df.head()

NameError: name 'cc_df' is not defined

In [27]:
cc_df.drop('cc_num', axis = 1, inplace = True)

NameError: name 'cc_df' is not defined